@import "colors";
@import "font-sizes";

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

/* GENERAL */

.monserratBold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: $text-color;
}

.monserratRegular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: $text-color;
}

.btn {
  background-color: $bgr-color;
  border: none;
}

.buttonLink {
  color: $white-text;
  font-size: $sm-font-size;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $white-text;
}

.topBuffer {
  margin-top: 10%;
}

.bottomBuffer {
  margin-bottom: 3.4%;
}

/* NAVBAR */

.nav-link {
  color: $text-color;
  font-size: $sm-font-size;
}

.nav-link:hover {
  color: $link-hover-color;
}

.navbar__logo {
  margin-left: 20%;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__socialNetworks {
    .fa {
      font-size: $md-font-size;
      padding: 15px;
      align-self: center;
    }
    .fa:hover {
      opacity: 0.7;
    }
    .fa-facebook,
    .fa-instagram {
      color: $text-color;
    }
  }

  &__copyright {
    align-self: center;
  }
}

.col--bgd-color {
  background-color: $bgr-color;
}

/* INDEX */

.mainSection {
  background-image: url("../images/blured-background-mountains.jpg");
  background-repeat: no-repeat;
  height: 1000px;
}

.mainProductSection {
  text-align: center;
  margin-top: 5%;

  &__slogan {
    font-size: $lg-font-size;
    margin-bottom: 2%;
  }

  &__button {
    border: none;
    border-radius: 12px;
    background-color: $bgr-color;
  }

  &__link {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: $md-font-size;
  }
}

.sobreGuajeSection,
.momentosGuajeSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: $lg-font-size;
  }

  &__paragraph {
    font-size: $md-font-size;
  }

  &__img {
    @include sizes(451px, 600px);
  }

  &__button {
    align-self: center;
    border: none;
    border-radius: 12px;
    background-color: $bgr-color;
  }

  &__link {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: $md-font-size;
  }
}

.separator {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.productosSection {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  &__producto {
    text-align: center;
    margin: 5%;
  }

  &__img {
    margin-bottom: 2%;
  }

  &__button {
    align-self: center;
    border: none;
    border-radius: 12px;
    background-color: $bgr-color;
    padding: 1% 2%;
  }

  &__link {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: $md-font-size;
  }
}

.back-to-top {
  position: fixed;
  bottom: 75px;
  right: 10px;
}

/*QUIENES SOMOS */

.guajeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &__img {
    margin-left: 3%;
    margin-right: 3%;
    @include sizes(400px, 600px);
  }

  &__text {
    text-align: center;
  }

  &__title {
    font-size: $lg-font-size;
  }

  &__paragraph {
    margin-top: 3%;
    font-size: $md-font-size;
  }
}

/* CONTACTO */

.contactoText {
  text-align: center;

  &__title {
    font-size: $lg-font-size;
  }

  &__subtitle {
    font-size: $sm-font-size;
  }
}

.form {
  margin-top: 3%;
  margin-bottom: 6.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  #textArea {
    height: 210px;
  }

  &__buttons {
    text-align: center;
  }

  &__sendButton,
  &__resetButton {
    color: $white-text;
    font-size: 18px;
    background-color: $bgr-color;
    border: none;
  }
}

/* PRODUCTOS */

.productosText {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__title {
    font-size: $lg-font-size;
  }

  &__subtitle {
    font-size: $md-font-size;
  }
}

.productos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-bottom: 3%;

  &__mates,
  &__bombillas,
  &__combos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
  }

  &__matesSection,
  &__bombillasSection,
  &__combosSection {
    margin-bottom: 5%;
  }

  &__matesSectionTitle,
  &__bombillasSectionTitle,
  &__combosSectionTitle {
    text-align: center;
    font-size: $lg-font-size;
  }

  &__title {
    text-align: center;
    font-size: $md-font-size;
  }

  &__title--font-size {
    font-size: 26px;
  }

  &__subtitle {
    text-align: left;
    font-size: $sm-font-size;
  }

  &__precio {
    text-align: left;
    font-size: $sm-font-size;
  }

  &__button {
    color: $white-text;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d3636' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d3636' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  @include sizes(40px, 40px);
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 568px;
}

/* MOMENTOS GUAJE */

.momentosGuajeText {
  display: flex;
  flex-direction: column;

  &__title,
  &__paragraph {
    text-align: center;
  }

  &__title {
    font-size: $lg-font-size;
  }

  &__paragraph {
    font-size: $md-font-size;
  }
}

.galeria {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__card {
    margin: 2%;
  }

  &__cardBody {
    display: flex;
    flex-direction: column;
  }

  &__cardButton {
    color: $white-text;
    align-self: flex-start;
    margin-top: auto;
  }

  &__modal {
    text-align: center;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  /* FOOTER */

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__copyright {
      display: none;
    }
  }

  /* NAVBAR */

  .navbar {
    background-color: $bgr-color;
  }

  .navbar__logo {
    @include sizes(150px, 150px);
    margin-left: 0%;
  }

  .back-to-top {
    display: none;
  }

  /* INDEX */

  .mainSection {
    background-image: none;
    height: 0%;
  }

  .sobreGuajeSection,
  .momentosGuajeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    &__img {
      @include sizes(300px, 400px);
    }

    &__link {
      text-align: center;
      color: $white-text;
      text-decoration: none;
      font-size: $sm-font-size;
    }

    &__title {
      font-size: $md-font-size;
    }

    &__paragraph {
      font-size: $sm-font-size;
    }
  }

  .mainProductSection {
    &__slogan {
      font-size: $md-font-size;
    }

    &__link {
      text-align: center;
      color: $white-text;
      text-decoration: none;
      font-size: $sm-font-size;
    }
  }

  .separator {
    display: none;
  }

  .productosSection {
    display: flex;
    flex-direction: column;
    align-content: center;

    &__producto {
      display: flex;
      flex-direction: column;
      align-content: center;
    }

    &__img {
      @include sizes(250px, 250px);
    }

    &__link {
      text-align: center;
      align-self: center;
      color: $white-text;
      text-decoration: none;
      font-size: $sm-font-size;
    }
  }

  /* SOBRE-GUAJE */

  .guajeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__title {
      font-size: $md-font-size;
    }

    &__paragraph {
      font-size: 15px;
    }

    &__img {
      @include sizes(330px, 450px);
    }
  }

  /* PRODUCTOS */
  .productosText {
    text-align: center;
    &__title {
      font-size: $md-font-size;
      text-align: center;
    }

    &__subtitle {
      font-size: $sm-font-size;
    }
  }

  .productos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__mates,
    &__bombillas,
    &__combos {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 2%;
    }

    &__title {
      text-align: center;
      font-size: $md-font-size;
    }

    &__subtitle {
      text-align: left;
      font-size: $sm-font-size;
    }

    &__matesSectionTitle,
    &__bombillasSectionTitle,
    &__combosSectionTitle {
      font-size: $md-font-size;
    }

    .card {
      margin-top: 2%;
      margin-bottom: 2%;
    }
  }

  /* MOMENTOS GUAJE */

  .momentosGuajeText {
    display: flex;
    flex-direction: column;

    &__title,
    &__paragraph {
      text-align: center;
    }

    &__title {
      font-size: $md-font-size;
    }

    &__paragraph {
      font-size: $sm-font-size;
    }
  }

  .galeria {
    margin-top: 5%;
    text-align: center;

    &__row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 2%;
    }
  }

  /* CONTACTO */

  .form__moreInfoCheckbox {
    font-size: $xs-font-size;
  }

  .form__userInfo {
    display: flex;
    flex-direction: column;
  }
  .contactoText {
    text-align: center;

    &__title {
      font-size: $md-font-size;
    }

    &__subtitle {
      font-size: $sm-font-size;
    }
  }
}
